- 보간법 (Interpolation)
    - 내삽이라 하며 특정한 두 점 안쪽에 놓여있는 가능한 값을 구하려는 방법
- 보외법 (Extrapolation)
    - 외삽 관찰 범위를 넘어서 다른 변수와의 관계에 기초하여 변수의 값을 추정하는 과정

### sklearn.

### Iterative imputer

### 단순 선형 회귀 대치법
- 결측치를 대체할 때 예를 들어 단순 선형 회귀 대치 -> 연령과 소득
- 소득에 대한 데이터가 결측치가 있고 연령이란 데이터는 결측치가 없다.
- 단순한게 연령과 소득에 대한 관계로 둘의 선형관계 상관성을 보고 둘의 회귀식을 관계로 단순하게 결측치를 대체하는 것

### 확률적 회귀 대치법
- 단순하게 접근하는 것이 아니라 회귀식에 확률 오차항 추가해서 확률적으로 회귀 대치를 진행
- 표본오차 문제 등 여러가지 문제들이 발생해서 이 부분을 해결하기 위해서 다중대치법을 사용한다.

### 다중 대치법
- 위의 단순, 확률적 회귀대치법을 보완하기 위해서 단순대치를 여러번 수행하는 것
- 가상 데이터를 샘쁠 뽑아서 대치값들을 분석하고 결국 최종 결측치를 대체할 것을 선정

In [15]:
# explicitly require this experimental feature
from sklearn.experimental import enable_iterative_imputer
# now you can import normally from sklearn.impute
from sklearn.impute import IterativeImputer

import seaborn as sns
import pandas as pd
import numpy as np

df=sns.load_dataset('mpg')

In [16]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

#### 기존에 배웠던 내용
- 평균대치
- 선형보간
- sklean iterative imputer를 사용해서 실제 결측값을 대체하고
- 해당 결측값을 대체한 것을 회귀분석을 통해 mse 차이가 어떤 식으로 나오는지 비교
- mse 오차에 대한 개념 예측한 값과 실제 값의 차이
- 선형 보간의 경우는 결국 interpolation 기존의 데이터를 보고 결측을 메꾸는 방식인데
- 해당 방식이 과연 정말 데이터의 올바른 결측치 대체 방법인지?

In [17]:
df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64

In [18]:
df.dropna(inplace=True)

In [19]:
df_x = df[['horsepower','weight','origin','name']]

In [20]:
## 결측치를 임의로 만듬, 랜덤하게 20개
msv = np.random.randint(0,300,size=20)

In [21]:
msv

array([ 71, 138,  13, 125, 276,  51, 125, 248, 299,  86,  76,  86,  67,
       133, 140, 113, 297, 152, 182, 172])

In [22]:
df_x.iloc[msv]=np.nan

In [23]:
df_x.isna().sum()

horsepower    18
weight        18
origin        18
name          18
dtype: int64

#### 평균으로 대체
- horsepower 18
- weight 18
- origin 18
- name 18

In [24]:
df_x.horsepower.mean()

104.27807486631016

In [25]:
df_x.weight.mean()

2973.4411764705883

## 필수과제 1
1. simpleimputer (간단한 개념이라 리서치하시고 실제 코드 작성하시고 값에 대해서 결과 정리까지)
- 다양하게 통계치 지정할 수 있음 (평균, 최빈값 등등)
- 결과가 어떤식으로 바뀌는지 mpg 데이터를 가지고 확인

## 필수과제 2
2. 만약 시계열 데이터라면? 추세가 반영될 수 있기 때문에 선형보간이 더 좋은 결과가 나올 수 있음
- 시계열데이터를 공유할 예정 -> 해당 데이터를 가지고 결측값을 만들고 오늘 배웠던
- 평균 또는 최빈값 등 기초통계량
- 선형보간 등 interpolation
- iterative imputer

- 시계열데이터는 어떤식으로 결측값을 대체 했을 때 더 좋은 결과가 나오는지 확인하기!
- 다만 시계열데이터를 결측값을 만들기 전에 기존 데이터의 분포와 관계, 컬럼들에 대한 관계들을 확인해보고 (간단하나 시각화로)
- 결측치를 만들어서 결과를 비교해 주세요

## 필수과제3
- 최종 결과물은 pdf파일로 정리하여 5장 내로 결과만 정리해서 공유해 주세요

### 이 과제는 팀끼리 필수과제 제출해도 됨
- 개인인 경우에는 개인이 과제 제출
- 팀끼리 하는 경우는 각자 개인 노션에 올려야함

### 데드라인
- 복습과제는 요번 코드는 어렵기 때문에 따라하는 정도로만
- 필수과제는 2주의 시간 동안 진행 (10/8)까지 제출
- 모든 필수과제는 다 따로 제출
- 복습과제는 일주일 기한 넘지 않게 제출